.btnAdd{
  margin-bottom: 1rem;
  margin-left: auto;
  display: flex;
  background-color: white;
  border: 2px solid #1890ff;
  color:#1890ff;
  border-radius: 5px;
}
.btnDel{
  color:red;
  margin-left: 10%;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 1px solid red;
}
.btnEdit{
  color:darkblue;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 1px solid darkblue;
}

td {
  text-align: center; /* Выравнивание содержимого ячеек по центру */
}

.table{
  text-align: center;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
